In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r'D:\Chenna Kesava\Data Analytics\Databases\New_Databases\Misc\Airlines+Airports+Cancellation+Codes+&+Flights\flights.csv')
df_airlines = pd.read_csv(r'D:\Chenna Kesava\Data Analytics\Databases\New_Databases\Misc\Airlines+Airports+Cancellation+Codes+&+Flights\airlines.csv')
df_airports = pd.read_csv(r'D:\Chenna Kesava\Data Analytics\Databases\New_Databases\Misc\Airlines+Airports+Cancellation+Codes+&+Flights\airports.csv')
df_cancellation = pd.read_csv(r'D:\Chenna Kesava\Data Analytics\Databases\New_Databases\Misc\Airlines+Airports+Cancellation+Codes+&+Flights\cancellation_codes.csv')

C:\Users\PC\AppData\Local\Temp\ipykernel_44768\226097216.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'D:\Chenna Kesava\Data Analytics\Databases\New_Databases\Misc\Airlines+Airports+Cancellation+Codes+&+Flights\flights.csv')

In [5]:
df_original_cleaned = df.copy()

In [7]:
summary = pd.DataFrame({
    'null_count': df_original_cleaned.isna().sum(),
    'empty_string_count': (df_original_cleaned == '').sum(),
    'zero_count': (df_original_cleaned == 0).sum(),
    'null_count_percentage': df_original_cleaned.isna().mean() * 100
}) 

summary

,null_count,empty_string_count,zero_count,null_count_percentage
YEAR,0,0,0,0.000000
MONTH,0,0,0,0.000000
DAY,0,0,0,0.000000
DAY_OF_WEEK,0,0,0,0.000000
AIRLINE,0,0,0,0.000000
FLIGHT_NUMBER,0,0,0,0.000000
TAIL_NUMBER,14721,0,0,0.252978
ORIGIN_AIRPORT,0,0,0,0.000000
DESTINATION_AIRPORT,0,0,0,0.000000
SCHEDULED_DEPARTURE,0,0,0,0.000000
DEPARTURE_TIME,86153,0,0,1.480526
DEPARTURE_DELAY,86153,0,329360,1.480526
TAXI_OUT,89047,0,0,1.530259
WHEELS_OFF,89047,0,0,1.530259
SCHEDULED_TIME,6,0,0,0.000103
ELAPSED_TIME,105071,0,0,1.805629
AIR_TIME,105071,0,0,1.805629
DISTANCE,0,0,0,0.000000
WHEELS_ON,92513,0,0,1.589822
TAXI_IN,92513,0,0,1.589822
SCHEDULED_ARRIVAL,0,0,0,0.000000
ARRIVAL_TIME,92513,0,0,1.589822
ARRIVAL_DELAY,105071,0,126213,1.805629
DIVERTED,0,0,5803892,0.000000
CANCELLED,0,0,5729195,0.000000
CANCELLATION_REASON,5729195,0,0,98.455357
AIR_SYSTEM_DELAY,4755640,0,498613,81.724960
SECURITY_DELAY,4755640,0,1059955,81.724960
AIRLINE_DELAY,4755640,0,493417,81.724960
LATE_AIRCRAFT_DELAY,4755640,0,506486,81.724960
WEATHER_DELAY,4755640,0,998723,81.724960

In [13]:
df_original_cleaned["date"] = pd.to_datetime(
    dict(year=df_original_cleaned["YEAR"], month=df_original_cleaned["MONTH"], day=df_original_cleaned["DAY"])
)
df_original_cleaned["MONTH_NAME"] = df_original_cleaned["date"].dt.month_name()

In [14]:
def extract_hour(hhmm):
    if pd.isna(hhmm):
        return None
    hhmm = int(hhmm)
    if hhmm == 2400:
        return 0
    return hhmm // 100
df_original_cleaned['DEPARTURE_HOUR'] = df_original_cleaned['SCHEDULED_DEPARTURE'].apply(extract_hour)
df_original_cleaned['ARRIVAL_HOUR'] = df_original_cleaned['SCHEDULED_ARRIVAL'].apply(extract_hour)
df_original_cleaned

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,date,MONTH_NAME,DEPARTURE_HOUR,ARRIVAL_HOUR
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,January,0,4
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,January,0,7
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,January,0,8
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,January,0,8
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01,January,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31,December,23,8
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31,December,23,4
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31,December,23,4
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31,December,23,3
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-31,December,23,4

In [21]:
df_combined = (
    df_original_cleaned
    .merge(df_airlines, left_on='AIRLINE', right_on='IATA_CODE', how='left')
    .merge(df_airports.add_prefix('ORIGIN_'), left_on='ORIGIN_AIRPORT', right_on='ORIGIN_IATA_CODE', how='left')
    .merge(df_airports.add_prefix('DEST_'), left_on='DESTINATION_AIRPORT', right_on='DEST_IATA_CODE', how='left')
    .merge(df_cancellation, left_on='CANCELLATION_REASON', right_on='CANCELLATION_REASON', how='left')
)